 {% block footer %}
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Adresse</h4>
          <p class="lead mb-0">IUT 
            <br>Le Puy en Velay</p>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0">
          
        </div>
        <div class="col-md-4">
          <h4 class="text-uppercase mb-4">About Freelancer</h4>
          <p class="lead mb-0">Freelance is a free to use, open source Bootstrap theme created by
            <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Mon Event 2019</small>
    </div>
  </div>

 {% endblock %}