{% extends 'base.html.twig' %}

{% block body %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <th scope="col">{{user.civilite}}</th>
      <th scope="col">{{user.name}}</th>
      <th scope="col">{{user.firstname}}</th>
      <th scope="col">{{user.email}}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}