{% extends 'base.html.twig' %}


{% block body %}

<section id="contact">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Inscription</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          {{ form(form) }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
